/*------------------------------- All Styles Pertaining to Mobile Devices -------------------------------*/
@media only screen and (max-width: 991px) {
	.nav-wrapper .brand-logo {
		font-size: 15px;
		display: none;
	}

	h4 {
		color: white;
		font-size: 15px;
	}

	.grid-sizer {
		width: 0px;
	}

	#first {
		margin: 10px auto -20px auto;
	}

	#second {
		top: 15px !important;
	}

	#third {
		top: 30px !important;
	}

	#fourth {
		top: 45px !important;
	}

	#fifth {
		top: 60px !important;
	}

	#first-input {
		top: 15px !important;
	}

	#second-input {
		top: 30px !important;
	}

	#third-input {
		top: 45px !important;
	}

	#fourth-input {
		top: 60px !important;
	}

	.grid-item {
		width: 80%;
		position: relative !important;
		margin: -20px auto -20px auto;
		font-size: 10px;
	}

	#intro-box {
		margin: 0 auto 0 auto;
	}
}