/*------------------------------- All Styles Pertaining to the Navigation Bar -------------------------------*/
nav {
	background-color: #3C7113;
}

.nav-wrapper .brand-logo {
	font-size: 25px;
}

/*------------------------------- All Styles Pertaining to the Grid -------------------------------*/
body {
	/*background-color: #AAA039;*/
	background-color: #FFF8AA;
}

main {
	color: white;
}

main select option {
	color: black;
}

button {
	color: black;
	border-bottom: none;
	box-shadow: none;
}

h4 {
	color: white;
}

.grid-item {
	background-color: #214B00;
	width: 30%;
	margin: 25px;
	border-radius: 10px;
}

.grid-sizer {
	width: 20px;
}

.grid-item {
	width: 30%;
}

#intro {
    padding: 40px;
}

#intro-box {
	width: 80%;
	margin: 15px auto 15px auto;
	position: relative !important;
}

#intro-title {
	margin-top: 10px;
	padding-top: 20px;
	margin-bottom: -20px;
}

#click_statement {
	position: relative;
	bottom: 20px;
}